<header class="site-header">
  <div class="nav-container">
    <a data-href="index.html" href="index.html" class="site-title">Maricel Bujoreanu</a>

    <button class="menu-toggle" aria-label="Toggle Menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

      <nav class="nav-menu">
        <ul class="nav-links" id="navLinks">
          <li><a data-href="index.html" href="index.html">Home</a></li>
          <li><a data-href="about.html" href="about.html">About</a></li>
          <li><a data-href="work.html" href="work.html">Work</a></li>
          <li><a data-href="contact.html" href="contact.html">Contact</a></li>
        </ul>
      </nav>
  </div>
</header>
